<form [formGroup]="registerForm">
  <div class="name-form">
    <label class="label" for="name">username</label>
    <div class="input-wrapper">
      <input formControlName="username" autocomplete="off" class="input form-control" type="text" name="name" placeholder="John">
    </div>
  </div>

  <div class="name-form">
    <label class="label" for="name">streamer</label>
    <div class="input-wrapper">
      <input formControlName="streamer" autocomplete="off" class="input form-control" type="text" name="name" placeholder="Rick Grimmes">
    </div>
  </div>
  <button class="btn" (click)="onSubmit()">Confirm payment</button>
</form>

<ul *ngIf="username.log_data.log.length">
  <li *ngFor="let data of username.log_data.log">
    <span>{{data.date}}</span>
    <ul>
      <li *ngFor="let msgs of data.msgs">{{msgs.date}} {{msgs.message}}</li>
    </ul>
  </li>
</ul>